* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

body {
    font-family: Fira Sans, sans-serif;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

#header {
    padding: 25px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    font-size: 18px;
    font-weight: 400;
    color: #035B81;
    padding: 0 35px;
}

.header button {
    font-size: 18px;
    font-weight: 400;
    color: white;
    background: #035B81;
    padding: 15px 44px;
    border-radius: 6px;
}

#tttttt {
    padding: 50px 0 0 0;
}


.tttttt-text h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #035B81;

}

.tttttt-text h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    color: #02BC6B;
}

